body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    text-align: center;
    margin-top: 100px;
}

h2 {
    color: #337ab7;
    font-weight: bold;
    font-size: 24px;
}

label {
    color: #555;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button.calculator-button {
    background-color: #337ab7;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button.calculator-button:hover {
    background-color: #285e8e;
}
